<h1 align="center" class="title">Student Details</h1>

<br/>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="list-group">
      <p class="list-group-item active" align="center">
        <b>Name: <%= @student.name %></b>
      </p>
      <p class="list-group-item">Email: <%= @student.email %></p>
      <p class="list-group-item">Date Registered: <%= @student.created_at.to_date %></p>
      <p class="list-group-item">Course Enrollments:<br/>
        <% if @student.courses.empty? %>
            N/A
        <% else %>
          <% @student.courses.each_with_index do |course, index| %>
            <%= index+1 %>. <%= course.name %><br/>
          <% end %>
        <% end %>
      </p>
      <p class="list-group-item" align="center">
        <%= link_to 'Go Back', students_path, class: "btn btn-success btn-sm" %>
      </p>
    </div>
  </div>
</div>
